[{sasl,[{errlog_type,error}]},
 {phoenix,[{generators,[{migration,true},{binary_id,false}]}]},
 {goth,[{cred_file,<<"/home/ubuntu/ssmeta/config/creds.json">>}]},
 {kane,
     [{enabled,true},{project_id,<<"ssmeta-qa">>},{event_topic,<<"bids">>}]},
 {ssmeta,
     [{version,<<"0.0.1">>},
      {default_rtb_timeout,600},
      {poolboy_config,
          [{name,{local,http_pool}},
           {worker_module,'Elixir.Ssmeta.HttpClient'},
           {size,100},
           {max_overflow,100}]},
      {event_poolboy_config,
          [{name,{local,event_worker_pool}},
           {worker_module,'Elixir.Ssmeta.StatHandler'},
           {size,5},
           {max_overflow,10}]},
      {partner_configs,
          #{openx => #{batch_impression_requests => true,
              endpoints => #{default => <<"localhost:4000/mock_openx">>,
                'us-central1-a' => <<"localhost:4000/mock_openx">>,
                'us-west1-a' => <<"localhost:4000/mock_openx">>},
              solicit_unsynced_users => false},
            rubi => #{batch_impression_requests => true,
              endpoints => #{default => <<"http://bid.rubiconproject.net/bidout">>},
              solicit_unsynced_users => false}}},
      {'Elixir.Ssmeta.Endpoint',
          [{root,<<"/home/ubuntu/ssmeta">>},
           {secret_key_base,
               <<"cVHMfyxJLa2WoBvXVnos7twlFPIzEGKgElgjJUgxE3XRZDoFN+Y7lAjc0hzYdQEo">>},
           {render_errors,[{accepts,[<<"html">>,<<"json">>]}]},
           {pubsub,
               [{name,'Elixir.Ssmeta.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {http,[{port,4000}]},
           {url,[{host,<<"example.com">>},{port,80}]},
           {server,true}]}]},
 {logger,
     [{console,
          [{format,<<"$time $metadata[$level] $message\n">>},
           {metadata,[request_id]}]},
      {backends,[console,'Elixir.Ssmeta.GoogleLoggerHandler']},
      {level,debug},
      {log_name, <<"projects/ssmeta-dev/logs/ssmeta">>},
      {format,<<"$time $metadata[$level] $message\n">>}]}].
